---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

import Layout from "../layouts/Layout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang as any);
---

<Layout title={t("siteTitle")}>
  <main>About</main>
</Layout>
